html, body {
    font-size:small;
    margin: 0;
    height: 100%;
}

div {
    display: block;
}

head {
    display: none;
}

body {
    display: block;
    font-family: arial,sans-serif;
    background: #fff;
    color: #222;
}

.ctr-p {
    min-width: 980px;
    margin: 0 auto;
}

#viewport {
    min-height: 100%;
    position: relative;
    width: 100%;
}

div#viewport {
    position: absolute;
    top: 0;
    width: 100%
}

#header {
    top: 16px;
    margin: 24px 0 0 10px;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    overflow: auto;
}

.hLink {
    display: inline-block;
    padding-left: 15px;
    color: #000;
    opacity: 0.75;
    text-decoration: none;
    font-size: 13px;
}

#topLeftLinks {
    text-align: left;
    left: 0;
}

#topRightLinks {
    text-align: right;
    right: 0;
    padding-right: 30px;
}

#logoArea {
    height: 233px;
    margin-top: 49px;
    text-align: -webkit-center;
}

#logo {
    height: 92px;
    width: 272px;
    margin-top: 111px;
}

#searchForm {
    margin-top: -4px;
    top: 311px;
    min-width: 980px;
    width: 100%;
}

#searchBar {
    display: flex;
    padding: 14px 8px -1px 16px;
    width: 482px;
    height: 44px;
    background: #fff;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
}

#searchIconBox {
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 12px;
    width: 24px;
    height: 24px;
}

#searchIcon {
    color: #9aa0a6;
    fill: currentColor;
    line-height: 24px;
    width: 24px;
    height: 24px;
}

#searchTextBox {
    width: 388px;
    line-height: 24px;
    height: 24px;
    margin-top: auto;
    margin-bottom: auto;
}

#searchText {
    display: inline-block;
    border: none;
    color: rgba(0,0,0,.87);
    outline: none;
    font: 16px arial, sans-serif;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    width: 388px;
}

#searchMicBox {
    margin-top: 12px;
    padding-right: 12px;
    padding-left: 12px;
}

#searchMic {
    width: 24px;
    height: 24px;
}

#searchButtonBox {
    display: inline-block;
    text-align: center;
    padding-top: 18px;
    min-width: 980px;
    width: 100%;
    margin-bottom: 8px;
}

.searchButtons {
    margin: 11px 4px;
    padding: 0 16px;
    border: 1px solid #f2f2f2;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #5f6368;
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-color: #f2f2f2;
    height: 36px;
    line-height: 27px;
    border-radius: 4px;
    min-width: 54px;
    font-family: arial, sans-serif;
    font-size: 14px;
}

.content {
    padding-bottom: 41px;
}

#footer {
    position: absolute;
    bottom: 0;
    font-size: 10pt;
    height: auto;
    width: 100%;
    min-width: 980px;
    height: 41px;
}

#fBar {
    color: #222;
    line-height: 40px;
    font-size: 13px;
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    display: flex;
    justify-content: space-between;
    padding-right: 27px;
}

.fLink {
    display: inline-block;
    padding-left: 27px;
    color: #5f6368;
    text-decoration: none;
    font-size: 13px;
}

#botLeftLinks {
    text-align: "left";
    left: 0;
}

#botRightLinks {
    text-align: "right";
    right: 0;
}

